/* Start breadcrumb section */
.breadcrumb {
  background-image: url(../images/breadcrumb.jpg);
  background-size: cover;
  background-position: top center;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.breadcrumb .text {
}
.breadcrumb .text .title {
  font-size: 5rem;
  margin-bottom: 5px;
  font-weight: 900;
}
@media (max-width: 767px) {
  .breadcrumb .text .title {
    font-size: 3rem;
    text-align: center;
  }
}
.breadcrumb .text .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}
.breadcrumb .text .navigation a {
  color: inherit;
  font-weight: 900;
  font-size: 1.4rem;
}
.breadcrumb .text .navigation span {
  font-size: 1.4rem;
}
@media (min-width: 992px) {
  .breadcrumb .text .navigation a,
  .breadcrumb .text .navigation span {
    font-size: 1.6rem;
  }

}
.breadcrumb .text .navigation a::before {
  position: absolute;
  content: "-";
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
/* End breadcrumb section */
