/* 
  --------- CSS Import ---------
    1- GlobalRules + Components
    2- Main Header
    3- Main Footer
 */
@import url("cssimport.css");
/* Start Categories-Preview */
.categories-preview {
  margin-bottom: 30px;
}
.categories-preview .container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
@media (max-width: 991px) {
  .categories-preview .container {
    justify-content: center;
  }
}
.categories-preview .container .category {
  width: 252px;
  height: 252px;
  overflow: hidden;
}
.categories-preview .container .category.new::before {
  content: "new";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 111px;
  transform: rotate(319deg);
  height: 16px;
  background: var(--primary-color);
  left: -22px;
  top: 19px;
}
.categories-preview .container .category > img {
  max-width: 100%;
  height: 100%;
}
.container .category > a {
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
  padding: 11px;
  font-weight: 900;
  font-size: 1.8rem;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.5s;
}
.categories-preview .container .category:hover > a {
  bottom: 30px;
  transform: translateX(-50%) rotate(1turn);
}
.container .category > a::before {
  content: "";
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0px 0px var(--primary-color);
  z-index: -1;
  transition: all 0.5s;
}
.container .category > a:hover {
  color: white;
}
.container .category > a:hover::before {
  box-shadow: 0 0 0px 100px var(--primary-color);
}
/* End Categories-Preview */
/* Start Featured-products */
.featured-products {
}
.featured-products .container {
}
.featured-products .container ul {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .featured-products .container ul {
    gap: 3rem;
  }
}
.featured-products .container ul li {
  padding-bottom: 4px;
  border-bottom: 3px solid transparent;
  position: relative;
}
.featured-products .container ul li a {
  color: black;
  font-size: 1.8rem;
}
.featured-products .container ul li.active {
  border-bottom-color: var(--primary-color);
}
.featured-products .container ul li:not(.active)::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: var(--primary-color);
  width: 0%;
  top: 100%;
  transition: var(--main-transition);
}
.featured-products .container ul li:hover::before {
  width: 100%;
}
.products-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 3rem;
  padding-bottom: 40px;
}
.products-wrapper .product {
}
.products-wrapper .product .product-image {
  overflow: hidden;
}
.products-wrapper .product .product-image img {
  max-width: 100%;
  width: 100%;
}
.products-wrapper .product .product-image .icons {
  gap: 2rem;
  bottom: -33px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s;
}
.products-wrapper .product:hover .icons {
  bottom: 20px;
}
.products-wrapper .product .product-image .icons a {
  background-color: white;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
}
.products-wrapper .product .product-image .icons a .icon {
  transition: var(--main-transition);
}
.products-wrapper .product .product-image .icons a:hover {
  background-color: #7fad39;
}
.products-wrapper .product .product-image .icons a:hover .icon {
  color: white;
  transform: rotate(1turn);
}
.products-wrapper .product .product-title {
  margin: 10px 0;
}
.products-wrapper .product .price {
  font-size: 1.8rem;
  font-weight: 900;
}
/* End Featured-products */
/* Start Banner */
.banner {
  padding-bottom: 60px;
}
.banner .container {
  gap: 3rem;
}
@media (max-width: 991px) {
  .banner .container {
    flex-wrap: wrap;
    gap: 0;
  }
}
.banner .container .image-banner {
  width: 100%;
}
.banner .container .image-banner img {
  max-width: 100%;
  width: 100%;
}
/* End Banner */
/* Start Latest Products */
.latest-products {
}
.latest-products .container {
  gap: 2.5rem;
}
@media (max-width: 991px) {
  .latest-products .container {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .latest-products .container {
    justify-content: center;
  }
}
.latest-products .latest-products-wrapper {
  width: calc(100% / 3);
}
@media (max-width: 991px) {
  .latest-products .latest-products-wrapper {
    width: calc((100% - 2.5rem) / 2);
  }
}
@media (max-width: 767px) {
  .latest-products .latest-products-wrapper {
    width: 400px;
  }
}
.latest-products .latest-products-wrapper > .text {
  margin-bottom: 40px;
}
.latest-products .latest-products-wrapper > .text .title {
  font-size: 2.5rem;
  font-weight: 900;
}
.latest-products .latest-products-wrapper > .text .navigate-product {
  gap: 1rem;
}
.latest-products .latest-products-wrapper > .text .navigate-product a {
  width: 30px;
  height: 30px;
  background-color: var(--light-blue-color);
  transition: var(--main-transition);
}
.latest-products .latest-products-wrapper > .text .navigate-product a:hover {
  background-color: #1877f2;
}
.latest-products .latest-products-wrapper > .text .navigate-product a .icon {
  color: black;
  font-size: 1.8rem;
  transition: var(--main-transition);
}
.latest-products
  .latest-products-wrapper
  > .text
  .navigate-product
  a:hover
  .icon {
  color: white;
}
.latest-products .latest-products-wrapper .item {
  gap: 3rem;
}
.latest-products .latest-products-wrapper .item .item-image {
}
.latest-products .latest-products-wrapper .item .item-image img {
  max-width: 100%;
  width: 100px;
}
.latest-products .latest-products-wrapper .item .text {
}
.latest-products .latest-products-wrapper .item .text .title {
  margin-bottom: 10px;
}
.latest-products .latest-products-wrapper .item .text .price {
  font-weight: 900;
  font-size: 1.8rem;
}
/* End Latest Products */
/* Start From-Blog */
.from-blog {
  padding-bottom: 40px;
}
.from-blog .container {
  gap: 2.5rem;
}
@media (max-width: 767px) {
  .from-blog .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .from-blog .container .blog-item {
    width: 400px;
  }
}
.from-blog .container .blog-item img {
  max-width: 100%;
  width: 100%;
}
.from-blog .container .blog-item .blog-info {
  gap: 2rem;
  margin: 20px 0;
}
.from-blog .container .blog-item .blog-info .date-wrapper,
.from-blog .container .blog-item .blog-info .comment-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #b2b2b2;
}
.from-blog .container .blog-item .blog-info .date-wrapper .icon,
.from-blog .container .blog-item .blog-info .comment-wrapper .icon {
  color: inherit;
}
.from-blog .container .blog-item .blog-text .blog-link {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}
.from-blog .container .blog-item .blog-text .blog-desc {
  margin-top: 10px;
  max-width: 325px;
  line-height: 1.6;
  color: #6f6f6f;
}
@media (max-width: 767px) {
  .from-blog .container .blog-item .blog-text .blog-desc {
    max-width: 100%;
  }
}
/* End From-Blog */
